
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/dist/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/dist/font-awesome.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

    <meta name="viewport" content="width=device-width" />
    <script type="application/ld+json">
        @Html.Raw(@ViewBag.PageDataSchema)
    </script>
    <!--for recipe schema-->
    <!--Scripts-->
    @Html.Partial("Scripts")
    
        @if (ViewBag.RenderDateTime != null)
        {
            @Html.Partial("DateTimePicker");
        }
    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #f2f2f2;
        }

        ::-webkit-scrollbar-thumb {
            background: #cccccc;
        }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #bababa;
            }

        .glyphicon-star-empty {
            color: yellow;
        }
    </style>
</head>
<body lang="@(System.Threading.Thread.CurrentThread.CurrentUICulture.Name.Split('-')[0])" 
    onunload="">
    <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded">
        <a class="navbar-brand" href="#">Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav" on>
            <ul class="navbar-nav">
                <li class="nav-item" data-controller="Home">
                    <a class="nav-link" href="~/" title="@RecipesMVC.Resources.AppCulture.HomeTitleNav">@RecipesMVC.Resources.AppCulture.Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" data-controller="Recipes">
                    <a class="nav-link" href="~/Recipes" title="@RecipesMVC.Resources.AppCulture.RecipesTitleNav">@RecipesMVC.Resources.AppCulture.Recipes</a>
                </li>
                <li class="nav-item" data-controller="About">
                    <a class="nav-link" href="~/About" title="@RecipesMVC.Resources.AppCulture.AboutUsTitleNav">@RecipesMVC.Resources.AppCulture.AboutUs</a>
                </li>
                <li class="nav-item dropdown">
                    <a title="login, logout and change profile" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/Images/UserIcon.svg" class="d-inline-block align-top" width="25" height="25" />
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                    @User.Identity.Name
                            }
                            else
                            {
                                    @:Login
                                }
                            }
                    </a>
                    <div class="dropdown-menu shadow">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="~/Account">
                                    <img src="~/Content/Images/User.svg" class="d-inline-block align-top" width="25" height="25" />
                                    Profile
                                </a>
                                <a class="dropdown-item" href="~/Account/Saved">
                                    <img src="~/Content/Images/saved.unchecked.png" class="d-inline-block align-top" width="25" height="25" />
                                    Saved
                                </a>
                                <a class="dropdown-item" id="nav-logout-click" href="#">
                                    <img src="~/Content/Images/Logout.png" class="d-inline-block align-top" width="22" height="22" />
                                    <span class="">Logout</span>
                                </a>
                                <script type="text/javascript" language="javascript">
                                    $('#nav-logout-click').click(function () {
                                        $.ajax({
                                            url: '/account/logout/',
					                        type: "GET",
                                            contentType: "application/json; charset=utf-8",
                                            success: function (data) {
                                                console.log(data);
                                                location.reload();
                                            },
                                            error: function (xhr, textStatus, errorThrown) {
                                                alert(textStatus + " " + errorThrown);
                                            }
                                        });
                                    });
                                </script>
                            }
                            else
                            {
                                <form class="px-4 py-3" id="NavLoginForm" onsubmit="return false;">
                                    <h4>Login to account</h4>
                                    <div class="form-group">
                                        <label for="nav_login_user" id="nav_login_user_label">User Name\Email</label>
                                        <input type="text" class="form-control" id="nav_login_user" name="nav_login_user" placeholder="email@domain.com" data-form-name="NavLogin" required>
                                        <!--<label class="" id="nav_login_user_error">
                                            &nbsp;
                                        </label>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="nav_login_pwd" id="nav_login_pwd_label">Password</label>
                                        <input type="password" class="form-control" id="nav_login_pwd" name="nav_login_pwd" placeholder="Password" data-form-name="NavLogin" required>
                                        <span class="small text-danger" id="nav_login_pwd_error">
                                            &nbsp;
                                        </span>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="nav-login-rem" data-form-name="NavLogin"/>
                                        <label class="form-check-label" for="nav-login-rem">
                                            Remember me
                                        </label>
                                    </div>
                                    <br />
                                    <button type="submit" id="LoginButton" class="btn btn-primary">Sign in</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="/Account/Register">Don't you have one? Register</a>
                                <a class="dropdown-item" href="/Account/Reset">Forgot password?</a>
                            }
                        }
                    </div>
                </li>
                <li class="nav-item" data-controller="Manage">
                    <a title=" @RecipesMVC.Resources.AppCulture.SiteManagmentTitleNav " class="nav-link" href="~/Manage" style="visibility: @{ if (Roles.GetRolesForUser(HttpContext.Current.User.Identity.Name).Contains("Admin")) { @("visible")} else
                            { @("hidden")}
                        };">@RecipesMVC.Resources.AppCulture.SiteManagment</a>
                </li>
            </ul>

        </div>
        <div class="justify-content-end order-3 collapse navbar-collapse">
            <div class="" id="navbarSearch">
                <form class="d-flex flex-nowrap align-items-center">
                    <input class="form-control mr-sm-2" id="nav-search" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="mt-3">
            @RenderBody()
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container text-center text-dark">
            <small>Aviv Naaman &copy; 2019</small>
        </div>
    </footer>
</body>
</html>
